name: ci
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Install dependencies
        run: |
          go get ./pinecone
      - name: Run tests
        run: go test ./pinecone
        env:
          TEST_POD_INDEX_NAME: ${{ secrets.TEST_PODS_INDEX_NAME }}
          TEST_SERVERLESS_INDEX_NAME: ${{ secrets.TEST_SERVERLESS_INDEX_NAME }}
          PINECONE_API_KEY: ${{ secrets.API_KEY }}
